<ion-content>
  <ion-grid class="background">
    <ion-row>
      <ion-col>
        <ion-card mode="ios" >
          <ion-card-header>            
            <ion-card-title class="text-center jura">{{'PAGES.SOURCES.HASHTAG' | translate}}</ion-card-title>
            <ion-card-subtitle class="text-center subtitulo">{{ 'PAGES.SOURCES.SUBTITLE' | translate }}</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content class="no-pdd-top">
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.WHO' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.WHO' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.ADVICE' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.ADVICE' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.MYTH-BUSTERS' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.MYTH-BUSTERS' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.MASCARILLA' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.MASCARILLA' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.Q&A' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.Q&A' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.Q&A2' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.Q&A2' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.MAYO' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.MAYO' | translate }}</a></ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="explanation"><a href="{{ 'PAGES.SOURCES.MAYO2' | translate }}" target="_blanck">{{ 'PAGES.SOURCES.MAYO2' | translate }}</a></ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


