<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="toogleMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="jura small">C19-Footprint</ion-title>
    
    <ion-buttons slot="end">
      <ion-button *ngIf="loginService.isUserLogged()" color="primary" (click)="goHome()">
        <ion-icon color="primary" slot="icon-only" name="person"></ion-icon>
      </ion-button>
      <ion-button *ngIf="loginService.isUserLogged()" color="primary" (click)="goMap()">
        <ion-icon color="primary" slot="icon-only" name="map"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!loginService.isUserLogged()" (click)="goAbout()">
        <ion-icon color="primary"  slot="icon-only" name="help"></ion-icon>
      </ion-button>
      <ion-button (click)="goSources()">
        <ion-icon color="primary"  slot="icon-only" name="information-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!loginService.isUserLogged()" (click)="goLogin()">
        <ion-icon color="success" slot="icon-only" name="log-in"></ion-icon>
    </ion-button>
      <ion-button *ngIf="loginService.isUserLogged()" (click)="loginService.logout()">
          <ion-icon color="danger" slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
