<ion-content>
  <ion-grid class="background" id="grid">
    <ion-row>
      <ion-col>
        <ion-card mode="ios" >
          <ion-card-header>            
            <ion-card-title class="text-center jura">C19 Footprint</ion-card-title>
            <ion-card-subtitle class="text-center subtitulo">{{ 'PAGES.ABOUT.SUBTITLE' | translate }}</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content class="no-pdd-top">
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="text-center explanation">{{ 'PAGES.ABOUT.OBJETIVO' | translate }}</ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="text-center explanation">{{ 'PAGES.ABOUT.EXPLICACION' | translate }}</ion-card-subtitle>
            <div class="mrg-top-10"></div>
            <ion-card-subtitle class="text-center explanation">{{ 'PAGES.ABOUT.DESCARGO' | translate }}</ion-card-subtitle>
            <div class="mrg-top-20"></div>
            <ion-card-subtitle class="text-center explanation">{{ 'PAGES.ABOUT.AUTORIA' | translate }}</ion-card-subtitle>
            

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


