#langfab {
  margin-top: 4em;
}

#langfabbutton {
  width: 300px;
  --border-radius: 0;
  background: #1976d2;
  color: white;
}

ion-label {
  padding-left: 1em;
}

.clickeable {
  cursor: pointer;
}